*.Cache
*.Settings
*.bat
*.class
*.diagsession
*.jar
*.log
*.map
*.nupkg
*.sdsettings
*.shf*
*.snk
*.suo
*.userprefs
*.vspx
.classpath
.nuget/
.pmd
.project
.settings/
/target
CBORTest/bin/
CBORTest/obj/
Help/
OpenCover/
ProfilingSessions/
TestResults/
bin/
cache/
coverage.xml
encoding/
encodingfldr/
js/*.ht*
js/DecTest.*
obj/
packages/
target/
