bin/
obj/
.settings/
Help/
cache/
TestResults/
CBORTest/bin/
CBORTest/obj/
CBORTest/OpenCover/
*.Cache
js/*.ht*
js/DecTest.*
ProfilingSessions/
coverage.xml
CBORTest/ProfilingSessions/
.project
.classpath
*.shf*
*.Settings
*.class
*.suo
*.log
.pmd
CBORTest/ExtensiveTest.*